.App {
  text-align: center;
  color: white;
  background-color: #15629e;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div {
  height: 100px;
}